
 <!--   <div class="list card">

  <div class="item item-avatar" ng-repeat="user in users">
  <img src="img/technician/tech1.jpg">  
    

  </div>
-->
  <div class="item item-body" >

    <h2>Tecnico: {{user.name}}</h2>
        <!-- <img class="full-image" src="delorean.jpg"> -->
    <p>Descrição: {{user.description}}</p>
    <p>Criado em: {{user.created_at | date: 'dd/mm/yyyy HH:mm'}}</p>
    <p>
      <a href="#" class="subdued">Positivo - Negativo</a>
      <a href="#" class="subdued">{{microposts.length}} Avaliações</a></p>
</div>
<div>
<form name="reviewForm" ng-repeat="micropost in microposts" >

<div class="pannel" >
   <blockquote>
   <b>{{micropost.content}}</b></p>
   <!-- <cite>{{micropost.user_id}}</cite> -->
   <cite>{{micropost.userid_tech}} - {{micropost.evaluation}}</cite>

</blockquote>
</div>

 </div>  

                <ul class="list">

  <li class="item item-toggle">
     Avaliar - {{evaluation_add}}
     <label class="toggle toggle-assertive">

       <input type="checkbox" ng-model="evaluation_add" ng-true-value="false" ng-false-value="true" />
     <div class="track">
         <div class="handle"></div>
       </div>
     </label>


  </li>
  <li>
         <label class="item item-input">
  <span class="input-label">Comentário</span>
  <input type="text" ng-model="content_add"/>
</label>
</li>
</ul>
            
   <!--  <input type="text" ng-model="content_add"/>       -->
         


     
  <button ng-click="add()">Add</button>

  
  <!--<input type="text" ng-model="micropost.content">-->
  
  <!--<div class="item tabs tabs-secondary tabs-icon-left"  >
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment  
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  
</div>-->
